

    <div class="text-box header-PaginaPrincipal">
        <!-- <h1>Maior Agência</h1>
        <p>
           Com a Snaptrip, viajar comercialmente nunca foi tão facil.<br>Em apenas alguns cliques, encontre as melhores opções de passagem e hospedagem.
        </p>
        <a href="" class="hero-btn">Visite para conhecer mais.</a> -->


        <%- include('partials/headerHome') %>
        <!--Formulario -->
        



            
            </form>
        </div>

        </section>
   


    <!----Pacotes de viagem ----->

    <section class="course">
        <h1>Pacotes de Viagem Comercial</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <div class="row">
            <div class="course-coluna">
                <h3>PRATA</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum!
                    Nulla nostrum laborum incidunt.</p>

            </div>
            <div class="course-coluna">
                <h3>OURO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum!
                    Nulla nostrum laborum incidunt.</p>

            </div>
            <div class="course-coluna">
                <h3>DIAMANTE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum!
                    Nulla nostrum laborum incidunt.</p>

            </div>
        </div>
    </section>

    <!-- Locais mais procurados -->

    <section class="locais">
        <h1>Destinos mais procurados</h1>
      
        <div class="row">
            <div class="locais-coluna">
                <img src="/img/Brasilia.jpg
                ">
                <div class="layer">
                    <h3>Brasília</h3>
                </div>
            </div>
            <div class="locais-coluna">
                <img src="/img/sao_paulo.jpg">
                <div class="layer">
                    <h3>São Paulo</h3>
                </div>
            </div>
            <div class="locais-coluna">
                <img src="/img/riodejaneiro.jpg">
                <div class="layer">
                    <h3>Rio de Janeiro</h3>
                </div>
            </div>
        </div>
    </section>

    <!--- Sistema -->

    <section class="sistema">
        <h1>Nosso sistema fornece</h1>
       

        <div class="row">
            <div class="sistema-col">
                <img src="https://paytrack.com.br/blog/wp-content/uploads/2021/06/Capa-artigo-orcamento.png" alt="">
                <h3>Agendamento rápido</h3>
                
            </div>
            <div class="sistema-col">
                <img src="http://dinheiro.me/wp-content/uploads/2016/03/ganhar-dinheiro-com-seu-site.jpg" alt="">
                <h3>Preços acessíveis</h3>
               
            </div>
            <div class="sistema-col">
                <img src="https://blog.wittel.com/wp-content/uploads/2017/07/103011-como-medir-a-qualidade-do-atendimento-ao-cliente-810x540.jpg"
                    alt="">
                <h3>Qualidade no atendimento</h3>
                
            </div>
        </div>
    </section>

    <!--Testimonials -->

    <section class="Testimonials">
        <h1>REVIEWS DE CLIENTES</h1>
        <p>Veja o que os usuários de nosso site estão dizendo
        </p>
        <div class="row">
            <div class="testimonaials-col">
                <img src="/img/user1.jpg" alt="">
                <div>
                    <p> Agendei minha viagem a trabalho com o SnapTrip e foi ótimo. As buscas são eficientes e o site é confiável. Estou muito satisfeita.

                    </p>
                    <h3>Christina Gouvêa</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testimonaials-col">
                <img src="/img/user2.jpg" alt="">
                <div>
                    <p> Eu sou responsável por agendar as viagens de todos os funcionários da empresa em que trabalho. São várias viagens por mês e o site facilitou a tarefa disponibilizando filtros adequados a viagens de negócios. Recomendo!
                    </p>
                    <h3>Vitor Andrade</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </section>

    <!--Call To Action-->

    <section class="cta">
        <h1>Agende suas viagens de negócios <br></h1>
    </section>
    <!--Footer-->
    <%- include('partials/footer') %>