<section class="footer">
    <h4>Sobre Nós</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos velit nemo non maiores impedit eaque rem  <br> et quae vero asperiores, nulla doloremque  praesentium perspiciatis adipisci quas nobis doloribus, ducimus nesciunt.</p>
    <div class="icones">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkdin"></i>

    </div>
  
</section>

<!---------JavaScript pra abrir o menu ----->

        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right = "0";
            }
            function hideMenu(){
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
</html>