*{
  margin: 0;
  padding: 0;
  font-family: 'Tenor Sans', sans-serif; 
  box-sizing: border-box;
}

.header-PaginaPrincipal{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/img/plane-background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  backdrop-filter: blur(15.3px);
  -webkit-backdrop-filter: blur(15.3px);
}
.header{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.nav-topo{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.nav-topo img{
  width: 150px;

}
.nav-links{
  display: flex;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #486572;
  text-decoration: none;
  font-size: 16px ;
}


.header-links  ul li a{
  color: #f6f6f6;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #B79A8D;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;

}
.text-box{
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: transparent;
}
.text-box h1{
  font-size: 62px;

}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #B79A8D;
  background: #B79A8D;
  transition: 1s;
}
nav .fa{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: absolute;
      background: #B79A8D;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer
      ;
  }
  .nav-links ul{
      padding: 30px;
  }

}
/*---- course ----*/
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;

}
p{
  color: #486572;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.course-coluna{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-coluna:hover{
  box-shadow: 0 0 20px 0px #323232;
}
@media(max-width: 700px){
  .rox{
      flex-direction: column;
  }
}

/*---locais----*/
.locais{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}
.locais-coluna{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  
}
.locais-coluna img{
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;

}
.layer:hover{
  background: #efeae4;
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;

}

/*---Sistema---*/

.sistema{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.sistema-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.sistema-col img{
  width: 100%;
  border-radius: 10px;

}
.sistema-col p{
  padding: 0;

}
.sistema-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*---Testimoniais de clientes--*/

.Testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;

}
.testimonaials-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonaials-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonaials-col p{
  padding: 0;

}
.testimonaials-col h3{
  margin-top: 15px;
  text-align: left;
}
.testimonaials-col .fa{
  color: #b79a8d;
}
@media(max-width: 700px){
  .testimonaials-col img{
      margin-left: 0px;
      margin-right: 15px;
  }

}
/*---CTA----*/
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;

}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media(max-width:700px){
  .cta h1{
      font-size: 24px;

  }
}

/*---footer---*/

.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;

}

.footer div{
  text-align: center;

}

.col-2{
  flex-grow: 2;
  width: 40px;
}

.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.formulario {
  /* From https://css.glass */
  margin-top: 200px;
  width: 60%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.corpo form{
  width: 100%;
}
form input{
  width: 200px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

  form button{
    background: transparent;
    border: 2px;
    color: rgb(253, 253, 253);
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
  }


/*-----Formulario-----*/



/*--Pagina de Estadia--*/
body {
  margin: 0;
  line-height: normal;
}
.background-estadia-div {
  position: absolute;
  top: 0;
  left: 206px;
  border-radius: 38px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 203px;
  height: 946.22px;
}
.estadia-div {
  position: absolute;
  top: 40.93px;
  left: 262px;
  display: inline-block;
  width: 90.57px;
  height: 25.73px;
}
.background-transporte-div,
.fundo-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 214px;
  height: 1290.82px;
}
.fundo-div {
  top: 79.96px;
  border-radius: 56px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1307px;
  height: 1227.04px;
}
.transporte-div {
  position: absolute;
  top: 41.26px;
  left: 30.53px;
  display: inline-block;
  width: 100px;
  height: 25.73px;
}
.fundo-do-resultado {
  position: absolute;
  top: 133px;
  left: 65px;
  width: 1307px;
  height: 1307px;
  color: #323232;
}
.fundo-das-opes-de-transp {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 746px;
  height: 380px;
}
.tiet-div {
  position: absolute;
  top: 24px;
  left: 161px;
  display: inline-block;
}
.novo-rio-div {
  top: 24px;
  left: 388px;
}
.direto-div,
.div,
.h15-div,
.h45-div,
.novo-rio-div {
  position: absolute;
  display: inline-block;
}
.direto-div {
  top: 17px;
  left: 287px;
  font-size: 16px;
}
.div,
.h15-div,
.h45-div {
  top: 6px;
  left: 0;
}
.h15-div,
.h45-div {
  top: 0;
  left: 166px;
  -webkit-text-stroke: 0.5px #486572;
}
.h45-div {
  left: 406px;
}
.arrow-icon,
.dados-volta-div {
  position: absolute;
  top: 4.64px;
  left: 265px;
  width: 95px;
  height: 14.73px;
}
.dados-volta-div {
  top: 305px;
  left: 52px;
  width: 480px;
  height: 47px;
}
.rio-de-janeiro,
.so-paulo-div {
  position: absolute;
  top: 23px;
  left: 386px;
  display: inline-block;
  width: 124px;
  height: 16px;
}
.so-paulo-div {
  top: 18px;
  left: 243px;
  width: 77px;
}
.rodoviria-novo-rio {
  top: 0;
  left: 386px;
  width: 192px;
  height: 17px;
}
.rodoviria-iiet-div,
.rodoviria-novo-rio,
.volta-div {
  position: absolute;
  display: inline-block;
}
.rodoviria-iiet-div {
  top: 0;
  left: 198px;
  width: 167px;
  height: 17px;
}
.volta-div {
  top: 5px;
  left: 24px;
  font-size: 24px;
  -webkit-text-stroke: 1px #486572;
}
.arrow-icon1 {
  position: absolute;
  top: -2.05px;
  left: 334px;
  width: 32.5px;
  height: 22.09px;
}
.onibus-indo-volta {
  position: absolute;
  top: 3px;
  left: 115px;
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.linha-embaixo-cab-volta {
  position: absolute;
  top: 67.5px;
  left: -0.5px;
  border-top: 1px solid #bbc0cb;
  box-sizing: border-box;
  width: 735.01px;
  height: 1px;
}
.cabealho-volta-div {
  position: absolute;
  top: 218px;
  left: 0;
  width: 734.01px;
  height: 68px;
  font-size: 16px;
}
.novo-rio-div1 {
  position: absolute;
  top: 24px;
  left: 197px;
  display: inline-block;
}
.tiet-div1 {
  top: 24px;
  left: 459px;
}
.direto-div1,
.div1,
.h00-div,
.h30-div,
.tiet-div1 {
  position: absolute;
  display: inline-block;
}
.direto-div1 {
  top: 17px;
  left: 338px;
  font-size: 16px;
}
.div1,
.h00-div,
.h30-div {
  top: 5px;
  left: 52px;
}
.h00-div,
.h30-div {
  top: 0;
  left: 217px;
  -webkit-text-stroke: 0.5px #486572;
}
.h30-div {
  left: 457px;
}
.arrow-icon2 {
  position: absolute;
  top: 4.64px;
  left: 316px;
  width: 95px;
  height: 14.73px;
}
.linha-embaixo-dos-dados {
  position: absolute;
  top: 66.5px;
  left: -0.5px;
  border-top: 1px solid #bbc0cb;
  box-sizing: border-box;
  width: 735.01px;
  height: 1px;
}
.dados-ida-div {
  position: absolute;
  top: 123px;
  left: 0;
  width: 734.01px;
  height: 67px;
}
.rodoviria-tiet-div,
.so-paulo-div1 {
  position: absolute;
  top: 23px;
  left: 392px;
  display: inline-block;
  width: 77px;
  height: 16px;
}
.rodoviria-tiet-div {
  top: 0;
  width: 140px;
  height: 17px;
}
.rio-de-janeiro1 {
  top: 23px;
  left: 219px;
  width: 113px;
  height: 17px;
}
.ida-div,
.rio-de-janeiro1,
.rodoviria-novo-rio1 {
  position: absolute;
  display: inline-block;
}
.rodoviria-novo-rio1 {
  top: 0;
  left: 171px;
  width: 167px;
  height: 17px;
}
.ida-div {
  top: 7px;
  left: 48px;
  font-size: 24px;
  -webkit-text-stroke: 1px #486572;
}
.linha-embaixo-dos-dados1 {
  position: absolute;
  top: 68px;
  left: -0.5px;
  border-top: 1px solid #bbc0cb;
  box-sizing: border-box;
  width: 735.01px;
  height: 1px;
}
.arrow-icon3,
.onibus-indo-ida {
  position: absolute;
  top: 9.95px;
  left: 349px;
  width: 32.5px;
  height: 22.09px;
}
.onibus-indo-ida {
  top: 9px;
  left: 115px;
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.cabealho-ida-div {
  position: absolute;
  top: 26px;
  left: 0;
  width: 734.01px;
  height: 68.5px;
  font-size: 16px;
}
.fundo-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 48px;
  background-color: #486572;
  width: 185px;
  height: 380px;
}
.em-at-6x {
  margin-block-start: 0;
  margin-block-end: 0;
}
.no-carto-de {
  margin: 0;
}
.em-at-6x-sem-juros-no-carto {
  position: absolute;
  top: 262px;
  left: 20px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
.boto-ir-para-site {
  position: absolute;
  top: 322px;
  left: 26px;
  border-radius: 20px;
  background-color: #efeae4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 133px;
  height: 34px;
}
.ir-para-site {
  position: absolute;
  top: 329px;
  left: 57px;
  font-size: 16px;
  color: #486572;
  display: inline-block;
}
.taxa-de-servio-r10,
.total-r-250 {
  position: absolute;
  left: 13px;
  display: inline-block;
}
.total-r-250 {
  top: 218px;
  font-size: 22px;
  -webkit-text-stroke: 0.5px #f4f4f4;
}
.taxa-de-servio-r10 {
  top: 176px;
}
.taxa-de-embarque-r10 {
  top: 151px;
  left: 13px;
}
.por-adulto-sem-taxas,
.r-230-div,
.taxa-de-embarque-r10 {
  position: absolute;
  display: inline-block;
}
.por-adulto-sem-taxas {
  top: 82px;
  left: 47px;
  font-size: 18px;
  text-align: center;
}
.r-230-div {
  top: 33px;
  left: 44px;
  font-size: 28px;
  -webkit-text-stroke: 1px #efeae4;
}
.preos-div {
  position: absolute;
  top: 0;
  left: 561px;
  width: 185px;
  height: 380px;
  font-size: 12px;
  color: #f4f4f4;
}
.segundo-resultado-div {
  position: absolute;
  top: 1031px;
  left: 586px;
  width: 746px;
  height: 380px;
}
.cgh-div,
.direto-div2,
.sdu-div {
  position: absolute;
  top: 24px;
  left: 159px;
  display: inline-block;
}
.direto-div2,
.sdu-div {
  left: 404px;
}
.direto-div2 {
  top: 17px;
  left: 281px;
  font-size: 16px;
}
.gol-div,
.h50-div,
.h55-div {
  position: absolute;
  top: 12px;
  left: 0;
  display: inline-block;
}
.h50-div,
.h55-div {
  top: 0;
  left: 160px;
  -webkit-text-stroke: 0.5px #486572;
}
.h55-div {
  left: 400px;
}
.arrow-icon4 {
  position: absolute;
  top: 4.64px;
  left: 259px;
  width: 95px;
  height: 14.73px;
}
.dados-volta-div1 {
  position: absolute;
  top: 309px;
  left: 57px;
  width: 447px;
  height: 47px;
}
.linha-embaixo-volta {
  position: absolute;
  top: 71.5px;
  left: -0.5px;
  border-top: 1px solid #bbc0cb;
  box-sizing: border-box;
  width: 735.01px;
  height: 1px;
}
.rio-de-janeiro2,
.so-paulo-div2 {
  position: absolute;
  top: 27px;
  left: 386px;
  display: inline-block;
  width: 124px;
  height: 16px;
}
.so-paulo-div2 {
  left: 225px;
  width: 77px;
}
.sdu-santos-dumont {
  top: 4px;
  left: 386px;
  width: 192px;
  height: 17px;
}
.cgh-congonhas-div,
.sdu-santos-dumont,
.volta-div1 {
  position: absolute;
  display: inline-block;
}
.cgh-congonhas-div {
  top: 0;
  left: 167px;
  width: 167px;
  height: 17px;
}
.volta-div1 {
  top: 9px;
  left: 24px;
  font-size: 24px;
  -webkit-text-stroke: 1px #486572;
}
.arrow-icon5,
.aviao-subindo-2 {
  position: absolute;
  top: 1.95px;
  left: 334px;
  width: 32.5px;
  height: 22.09px;
}
.aviao-subindo-2 {
  top: 2px;
  left: 117px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.cabealho-volta-div1 {
  position: absolute;
  top: 214px;
  left: 0;
  width: 734.01px;
  height: 72px;
  font-size: 16px;
}
.cgh-div1,
.gol-div1,
.sdu-div1 {
  position: absolute;
  top: 24px;
  left: 221px;
  display: inline-block;
}
.cgh-div1,
.gol-div1 {
  left: 461px;
}
.gol-div1 {
  top: 12px;
  left: 57px;
}
.dados-ida-div1 {
  position: absolute;
  top: 123px;
  left: 0;
  width: 734.01px;
  height: 68px;
}
.sdu-santos-dumont1 {
  position: absolute;
  top: 3px;
  left: 167px;
  display: inline-block;
  width: 167px;
  height: 17px;
}
.aviao-subindo-1 {
  position: absolute;
  top: 10px;
  left: 117px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.caixa-dados-voos {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 48px;
  background-color: #a6a6a6;
  width: 185px;
  height: 380px;
}
.em-at-12x-sem-juros-no-carto {
  position: absolute;
  top: 262px;
  left: 19px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
.primeiro-resultado-div,
.rectangle-div1 {
  position: absolute;
  top: 615px;
  left: 586px;
  width: 746px;
  height: 380px;
}
.rectangle-div1 {
  top: 0;
  left: 0;
  border-radius: 48px;
  background-color: #486572;
  width: 332px;
  height: 164px;
}
.h-30m-mdia,
.mais-barato-div,
.r-250-div {
  position: absolute;
  top: 111px;
  left: 146px;
  display: inline-block;
}
.mais-barato-div,
.r-250-div {
  top: 63px;
  left: 111px;
  font-size: 32px;
}
.mais-barato-div {
  top: 24px;
  left: 72px;
  font-size: 24px;
}
.onibus-branco-2 {
  position: absolute;
  top: 91px;
  left: 57px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.balo-2-div,
.rectangle-div2 {
  position: absolute;
  width: 332px;
  height: 164px;
}
.balo-2-div {
  top: 411px;
  left: 1004px;
  color: #fff;
}
.rectangle-div2 {
  top: 0;
  left: 0;
  border-radius: 48px;
  background-color: #a6a6a6;
}
.h-55min-mdia,
.mais-rpido-div,
.r-700-div {
  position: absolute;
  top: 111px;
  left: 117px;
  display: inline-block;
}
.mais-rpido-div,
.r-700-div {
  top: 63px;
  left: 112px;
  font-size: 32px;
}
.mais-rpido-div {
  top: 24px;
  left: 79px;
  font-size: 24px;
}
.avio-branco-1 {
  position: absolute;
  top: 111px;
  left: 35px;
  width: 51px;
  height: 31px;
  object-fit: cover;
}
.balo-1-div {
  position: absolute;
  top: 411px;
  left: 590px;
  width: 332px;
  height: 164px;
  color: #fff;
}
.ida-div3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  display: inline-block;
}
.h00m-div,
.h00m-div1,
.madrugada-manh-tarde-no {
  position: absolute;
  top: 46px;
  left: 23px;
  display: inline-block;
}
.h00m-div1,
.madrugada-manh-tarde-no {
  left: 301px;
}
.madrugada-manh-tarde-no {
  top: 124px;
  left: 17px;
}
.ida-div2,
.linha-tempo-ida {
  position: absolute;
  top: 82.1px;
  left: 0;
  width: 405px;
  height: 26.8px;
}
.ida-div2 {
  top: 63px;
  left: 3px;
  height: 150px;
}
.linha-do-tempo-volta,
.volta-div2 {
  position: absolute;
  top: 84px;
  left: 0;
  width: 408px;
  height: 25px;
}
.volta-div2 {
  top: 258px;
  height: 150px;
}
.horrio-div1 {
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 24px;
  display: inline-block;
  -webkit-text-stroke: 1px rgba(72, 101, 114, 0.8);
}
.horrio-div {
  position: absolute;
  top: 297px;
  left: 0;
  width: 408px;
  height: 408px;
  font-size: 22px;
}
.rodovirio-div {
  position: absolute;
  top: 124px;
  left: 43px;
  display: inline-block;
}
.rectangle-div3 {
  position: absolute;
  top: 122px;
  left: -2px;
  border-radius: 5px;
  background-color: #bbc0cb;
  border: 2px solid #bbc0cb;
  box-sizing: border-box;
  width: 29px;
  height: 29px;
}
.check-branco-2 {
  position: absolute;
  top: 123px;
  left: 3px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.areo-div {
  position: absolute;
  top: 60px;
  left: 43px;
  display: inline-block;
}
.rectangle-div4 {
  position: absolute;
  top: 59px;
  left: -2px;
  border-radius: 5px;
  background-color: #bbc0cb;
  border: 2px solid #bbc0cb;
  box-sizing: border-box;
  width: 29px;
  height: 29px;
}
.check-branco-1 {
  position: absolute;
  top: 61px;
  left: 2px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.meio-div1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-text-stroke: 1px rgba(72, 101, 114, 0.8);
}
.filtros-div1,
.meio-div {
  position: absolute;
  left: 3px;
}
.meio-div {
  top: 79px;
  width: 161px;
  height: 152px;
}
.filtros-div1 {
  top: 0;
  display: inline-block;
  -webkit-text-stroke: 1px #486572;
}
.filtros-div {
  position: absolute;
  top: 454px;
  left: 73px;
  width: 408px;
  height: 705px;
  font-size: 24px;
}
.destino-div,
.ida-div4,
.origem-div,
.volta-div4 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.destino-div,
.ida-div4,
.volta-div4 {
  left: 269px;
}
.ida-div4,
.volta-div4 {
  left: 542px;
}
.volta-div4 {
  left: 823px;
}
.div2,
.div3,
.rio-de-janeiro4,
.so-paulo-div4 {
  position: absolute;
  top: 70px;
  left: 0;
  font-size: 24px;
  color: #323232;
  display: inline-block;
}
.div2,
.div3,
.so-paulo-div4 {
  left: 270px;
}
.div2,
.div3 {
  left: 542px;
}
.div3 {
  left: 823px;
}
.fundo-nova-pesquisa {
  position: absolute;
  top: 26px;
  left: 1025px;
  border-radius: 48px;
  background-color: #efeae4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 198px;
  height: 47px;
}
.nova-pesquisa-div {
  position: absolute;
  top: 38px;
  left: 1053px;
  color: #486572;
  display: inline-block;
}
.informaes-da-busca {
  position: absolute;
  top: 273px;
  left: 95px;
  width: 1223px;
  height: 98px;
  color: #000;
}
.contato-div,
.menu-div,
.sobre-ns-div {
  position: absolute;
  top: 68px;
  left: 1243px;
  display: inline-block;
}
.contato-div,
.sobre-ns-div {
  left: 815px;
}
.sobre-ns-div {
  left: 961px;
}
.ajuda-div,
.destinos-preferidos-div,
.trabalhe-conosco-div {
  position: absolute;
  top: 68px;
  left: 1129px;
  display: inline-block;
}
.destinos-preferidos-div,
.trabalhe-conosco-div {
  left: 541px;
}
.destinos-preferidos-div {
  left: 251px;
  display: none;
}
.logo-alterado-icon,
.novo-logo-1 {
  position: absolute;
  object-fit: cover;
}
.novo-logo-1 {
  top: -20px;
  left: 65px;
  width: 148px;
  height: 148px;
  display: none;
}
.logo-alterado-icon {
  top: 25px;
  left: 0;
  width: 159px;
  height: 159px;
}
.menu-superior-div {
  position: absolute;
  top: -25px;
  left: 65px;
  width: 1307px;
  height: 159px;
  color: #323232;
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #486572;
  font-family:  TenorSans;
}



div.viagem {
  margin: 10px 0;
  display:flex;
  justify-content: space-around;
  display: 	flex;
  padding: 50px;
  font-size: xx-small;
  /* background-image: linear-gradient( to right, #9b9894, #a6a6a6); */
}



label {
  display: block;
  font-family: 'TenorSans';
  padding-bottom: 10px;
  font-size: 1.25em;
}

select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'TenorSans';
  width: 100%;
  padding: 10px;
  display: flex;
}

div.viagem.inlined input {
  width: 50%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px solid #879a8d(247, 1, 1);
}

button {
  height: 25px;
  background: #879a8d;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'TenorSans';
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  border: 2px;
  background-image: linear-gradient( to right, #486572, #a6a6a6, #9b9894, #b79a8d);
}
div.corpo{
  /* background-image: linear-gradient( to right, #9b9894, #a6a6a6); */
    color: white;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    display: 	flex;
    justify-content: center;
   
}

/*---- Trabalhe conosco ----*/
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(http://images.virgula.com.br/2016/06/aeromo%C3%A7aaas.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff

}

.sub-header h1{
  margin-top: 100px;
}

.trabalhe-conosco{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.trab-col{
  flex-basis: 48%;
  padding:30px 2px;

}
.trab-col img{
  width: 100%;
}

.trab-col h1{
  padding-top: 0;
}
.trab-col p{
  padding: 15px 0 25px;
}

.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red-btn:hover{
  color:#fff;
}


/*estruturação do formulario inteiro*/
.header-form{
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  width: 800px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute; 
  left: 250px; 
  top: 70px; 
  height: 285px;
}
/* titulo do forumulario */

.header-form h2{
  color: whitesmoke;
}

/* estilização dos campos do formulario */
.form-control, .form-contro2, .form-contro3 {
  border: 1px solid white;
  width: 640px;
  height: 40px;
  margin: 10px 10px 0px 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  color: rgba(4,9,30,0.7);
  
}

.form-contro2{
  width: 644px;
}

.flex input[type ="submit"]{
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.flex input[type ="submit"]:hover{
  background-color: rgb(202, 202, 153);
  color:black
}
.btn-form{
  margin-top: 10px;
}
.flex input[type ="text"]{
  background: transparent;
  color: white;
  text-transform: uppercase;
}
.flex input[type ="date"]{
  background: transparent;
  color: white;
  text-transform: uppercase;

}
.flex input[type ="number"]{
  background: transparent;
  color: white;
  text-transform: uppercase;

}

/*---- Trabalhe conosco ----*/
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(http://images.virgula.com.br/2016/06/aeromo%C3%A7aaas.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff

}

.sub-header h1{
  margin-top: 100px;
}

.trabalhe-conosco{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.trab-col{
  flex-basis: 48%;
  padding:30px 2px;

}
.trab-col img{
  width: 100%;
}

.trab-col h1{
  padding-top: 0;
}
.trab-col p{
  padding: 15px 0 25px;
}

.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red-btn:hover{
  color:#fff;
}


/*estruturação do formulario inteiro*/
.header-form{
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  width: 800px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 285px;
}
/* titulo do forumulario */

.header-form h2{
  color: whitesmoke;
}

/* estilização dos campos do formulario */
.form-control, .form-contro2, .form-contro3 {
  border: 1px solid white;
  width: 640px;
  height: 40px;
  margin: 10px 10px 0px 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  color: rgba(4,9,30,0.7);
  
}

.form-contro2{
  width: 644px;
}

.flex input[type ="submit"]{
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.flex input[type ="submit"]:hover{
  background-color: rgb(202, 202, 153);
  color:black
}
.btn-form{
  margin-top: 10px;
}
.flex input[type ="text"]{
  background: transparent;
  color: white;
  text-transform: uppercase;
}
.flex input[type ="date"]{
  background: transparent;
  color: white;
  text-transform: uppercase;

}
.flex input[type ="number"]{
  background: transparent;
  color: white;
  text-transform: uppercase;

}
