* {
  font-family: 'Tenor Sans', sans-serif;
}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  border-radius: 38px;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f4f4f4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f4f4f4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 38px;
}

/*Style filters*/
.FiltrosBusca {
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.FiltrosBusca div {
  display: flex;
  flex-direction: column;
  padding: auto;
}

.botão {
  background-color: #EFEAE4;
  width: 12%;
  justify-content: center;
  align-items: center;
  border-radius: 22px
}

.FiltrosEResultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#Filtros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#title {
  color: #486572;
}

#tipoDeFiltro {
  color: #486572;
}

.filtroTransporte {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #486572;
  opacity: 0.5;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #486572;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #486572;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #486572;
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 0%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 0%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px #486572;
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px #486572;
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: #486572;
	-webkit-appearance: none;
}



#Resultado1 {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 30%;
  border-radius: 48px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #A6A6A6;
}

#Resultado2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 30%;
  border-radius: 48px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #486572;
  color: #fff;

}

#trajeto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30%;
  width: 75%;
}

#preçoEmBranco {
  color: #f4f4f4;
}

.valor1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#desenvolvimentoPessoal {
  max-width: 15%;
  max-height: auto;
}

#inovacao {
  max-width: 15%;
  max-height: auto;
}

#diversidade {
  max-width: 15%;
  max-height: auto;
}
