<section class="footer">
    <h4>Sobre Nós</h4>
    <p> Deslocamentos a trabalho. Fizemos este site para facilitar a vida de quem precisa viajar a negócios mas não tem muito tempo para planejar.
    </p>
    <div class="icones">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkdin"></i>

    </div>
  
</section>

<!---------JavaScript pra abrir o menu ----->

        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right = "0";
            }
            function hideMenu(){
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
</html>