
<!DOCTYPE html>

<html>
    <head>
    <meta name="viewport" content="width=device initial-scale=1.0">
    <title>SnapTrip</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
</head>
<body>
    <section class="header">
        <nav class="nav-topo">
            <a href=".html"><img src="/img/logoSnaptrip.png" ></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE NÓS</a></li>
                    <li><a href="/trabalhe">TRABALHE CONOSCO</a></li>
                    <li><a href="/users/login">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
        <div class="text-box header-PaginaPrincipal">
            
            <!--Formulario -->
            <div class="header-form">
                <h2>Escolha seu Destino</h2>
                <form action="reservation.php" method="POST" class="flex">
                    <label for="Origem">Origem</label>
                    <select name="visitor_origem" id="Origem">

                        <% cidades.map(element => { %>
                             <option value="<% element.nome %> "><%= element.nome %></option>
                           <% }) %> 
                      </select>
                      <label for="Destino">Destino</label>

                      <select name="visitor_destino" id="Origem">
                          <% cidades.map(element => { %>
                              <option value="<% element.nome %> "><%= element.nome %></option>
                          <% }) %> 
                      </select>
                      <label for="localEvento">Local do Evento</label>
                    <select type="select" class = "form-contro3" placeholder="Local do evento">
                        <label for="Data">Data</label>
                    <select type="select" class = "dataEstilo" placeholder="Data">
                    
                    <input type="submit" class = "btn-form" value="PROCURAR">

               
                </form>
    
    </section>
    
<section class="course">
    <h1>Pacotes de Viagem Comercial</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <div class="row">
        <div class="course-coluna">
            <h3>PRATA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
    
        </div>
        <div class="course-coluna">
            <h3>OURO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
            
        </div>
        <div class="course-coluna">
            <h3>DIAMANTE</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
            
        </div>
    </div>
    </section>
    
    <!-- Locais mais procurados -->
    
    <section class="locais">
        <h1>Nossos Locais Mais Procurados</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
        <div class="row">
            <div class="locais-coluna">
                <img src="/img/london.png">
                <div class="layer">
                    <h3>LONDON</h3>
                    </div>
            </div>
            <div class="locais-coluna">
                <img src="/img/newyork.png">
                <div class="layer">
                    <h3>NEW YORK</h3>
                    </div>
            </div>
            <div class="locais-coluna">
                <img src="/img/washington.png">
                <div class="layer">
                    <h3>WASHINGTON</h3>
                </div>
            </div>
        </div>
    </section>
    
    <!--- Sistema -->
    
    <section class="sistema">
            <h1>Nosso Sistema Fornece</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt</p>
    
        <div class="row">
            <div class="sistema-col">
                <img src="https://paytrack.com.br/blog/wp-content/uploads/2021/06/Capa-artigo-orcamento.png" alt="">
                <h3>Agendamento Rapido</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
                </p>
            </div>
            <div class="sistema-col">
                <img src="http://dinheiro.me/wp-content/uploads/2016/03/ganhar-dinheiro-com-seu-site.jpg" alt="">
                <h3>Preços acessiveis</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
                </p>
            </div>
            <div class="sistema-col">
                <img src="https://blog.wittel.com/wp-content/uploads/2017/07/103011-como-medir-a-qualidade-do-atendimento-ao-cliente-810x540.jpg" alt="">
                <h3>Qualidade No Atendimento</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
                </p>
            </div>
        </div>
    </section>
    
    <!--Testimonials -->
    
    <section class="Testimonials">
        <h1>REVIEWS DE CLIENTES</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt</p>
        <div class="row">
            <div class="testimonaials-col">
                <img src="/img/user1.jpg" alt="">
                <div>
                    <p> ipsum dolor sit amet, consectetur adipisicing elit. Nisi culpa quibusdam vitae recusandae? Aperiam, eaque libero similique repellat quaerat assumenda, necessitatibus et voluptate nam illo iure nihil obcaecati sed. Animi?</p>
                    <h3>Christina Gouvêa</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testimonaials-col">
                <img src="/img/user2.jpg" alt="">
                <div>
                    <p> ipsum dolor sit amet, consectetur adipisicing elit. Nisi culpa quibusdam vitae recusandae? Aperiam, eaque libero similique repellat quaerat assumenda, necessitatibus et voluptate nam illo iure nihil obcaecati sed. Animi?</p>
                    <h3>Vitor Andrade</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </section>
    
    <!--Call To Action-->
    
    <section class="cta">
        <h1>Agende suas viagens <br> De Qualquer Lugar do Mundo</h1>
        <a href="/contato" class="hero-btn">ENTRE EM CONTATO</a>
    </section>
    <!--Footer-->
    <%- include('partials/footer') %> 
    