

    <%- include('partials/header') %> 

        <!--Formulario -->

        <Section class="formulario">
            <div class="corpo">
                <form action="reservation.php" method="post">
                   <div class="viagem">
                      <label for="origem">origem</label>
                      <input type="text" id="origem" name="visitor_origem" placeholder="São Paulo" required>
                    </div>
                    <div class="viagem">
                      <label for="Destino">Destino</label>
                      <input type="text" id="Destino" name="visitor_destino" placeholder="Rio Grande Do Sul" required>
                    </div>
                    <div class="viagem">
                      <label for="transporte">transporte</label>
                      <input type="text" id="transporte" name="visitor_transporte" placeholder="uber">
                    </div>
                    <hr>
                    <div class="viagem inlined">
                      <label for="ida">data de ida</label>
                      <input type="date" id="data de ida" name="data de ida" required>
                    </div>
                    <div class="viagem inlined">
                      <label for="data de volta">data de volta</label>
                      <input type="date" id="data de volta" name="data de volta" required>
                    </div>
                      <div class="viagem">
                        <label for="origem">Local do evento</label>
                        <input type="text" id="Local do evento" name="visitor_Local do evento" placeholder="Evento" required>
                         
                      </select>
                    </div>
                    <hr>
                    <div class="viagem">
                     
                    </div>
                    <button type="submit">Procurar</button>
                
                  </div>
                  </form>

        </Section>

<!----Pacotes de viagem ----->

<section class="course">
<h1>Pacotes de Viagem Comercial</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
<div class="row">
    <div class="course-coluna">
        <h3>PRATA</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>

    </div>
    <div class="course-coluna">
        <h3>OURO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
        
    </div>
    <div class="course-coluna">
        <h3>DIAMANTE</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
        
    </div>
</div>
</section>

<!-- Locais mais procurados -->

<section class="locais">
    <h1>Nossos Locais Mais Procurados</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt.</p>
    <div class="row">
        <div class="locais-coluna">
            <img src="/img/london.png">
            <div class="layer">
                <h3>LONDON</h3>
        </div>
        <div class="locais-coluna">
            <img src="/img/newyork.png">
            <div class="layer">
                <h3>NEW YORK</h3>
        </div>
        <div class="locais-coluna">
            <img src="/img/washington.png">
            <div class="layer">
                <h3>WASHINGTON</h3>
            </div>
        </div>
    </div>
</section>

<!--- Sistema -->

<section class="sistema">
        <h1>Nossos Sistema Fornece</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt</p>

    <div class="row">
        <div class="sistema-col">
            <img src="https://paytrack.com.br/blog/wp-content/uploads/2021/06/Capa-artigo-orcamento.png" alt="">
            <h3>Agendamento Rapido</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
            </p>
        </div>
        <div class="sistema-col">
            <img src="http://dinheiro.me/wp-content/uploads/2016/03/ganhar-dinheiro-com-seu-site.jpg" alt="">
            <h3>Preços acessiveis</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
            </p>
        </div>
        <div class="sistema-col">
            <img src="https://blog.wittel.com/wp-content/uploads/2017/07/103011-como-medir-a-qualidade-do-atendimento-ao-cliente-810x540.jpg" alt="">
            <h3>Qualidade No Atendimento</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
            </p>
        </div>
    </div>
</section>

<!--Testimonials -->

<section class="Testimonials">
    <h1>REVIEWS DE CLIENTES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt</p>
    <div class="row">
        <div class="testimonaials-col">
            <img src="/img/user1.jpg" alt="">
            <div>
                <p> ipsum dolor sit amet, consectetur adipisicing elit. Nisi culpa quibusdam vitae recusandae? Aperiam, eaque libero similique repellat quaerat assumenda, necessitatibus et voluptate nam illo iure nihil obcaecati sed. Animi?</p>
                <h3>Christina Gouvêa</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="testimonaials-col">
            <img src="/img/user2.jpg" alt="">
            <div>
                <p> ipsum dolor sit amet, consectetur adipisicing elit. Nisi culpa quibusdam vitae recusandae? Aperiam, eaque libero similique repellat quaerat assumenda, necessitatibus et voluptate nam illo iure nihil obcaecati sed. Animi?</p>
                <h3>Vitor Andrade</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>

<!--Call To Action-->

<section class="cta">
    <h1>Agende suas viagens <br> De Qualquer Lugar do Mundo</h1>
    <a href="" class="hero-btn">ENTRE EM CONTATO</a>
</section>
<!--Footer-->
<%- include('partials/footer') %> 
