<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Tenor+Sans&display=swap" rel="stylesheet">

    <title>Snaptrip</title>
  </head>

  <link rel="stylesheet" type="public/css" href="stylesheet.css" media="screen" />
<!--Header-->
<%- include('partials/header') %> 
<body>
  <h1>
    Trabalhe conosco
  </h1> 
  <h2>Sua carreira e seu desenvolvimento</h2>
  

<div class="valor1">
  <img id="desenvolvimentoPessoal" src="../public/img/time.jpg" alt="Valores da empresa: desenvolvimento pessoal">
  <p>
    Aqui no Snaptrip, todas as pessoas podem expandir suas capacidades e aprendizados, atuando a partir do seu lugar de potência. Estimulamos o protagonismo e proporcionamos um ambiente de desenvolvimento e aprendizado.
  <p> 
</div>

<div class="valor1">
  <img id="inovacao" src="../public/img/integraçãoSoftware.jpg" alt="Valores da empresa: inovação">
  <p>
    Inovação sempre esteve no DNA do Snaptrip e se reflete de várias formas: na concepção de novos produtos, na evolução dos nossos processos, no modelo de atuação e até na aceleração de startups. 
  <p> 
</div>

<div class="valor1">
  <img id="diversidade" src="../public/img/diversidade.jpg" alt="Valores da empresa: diversidade">
  <p>
    O Snaptrip possui um Programa de Diversidade e Inclusão. Queremos ser um porto seguro onde equidade, representatividade e respeito às diferenças sejam parte de nossa cultura; e continuar construindo um espaço seguro e livre para ser quem somos. Nossos grupos de afinidade olham para os temas de Equidade de Gênero, Raça e Etnia, Pessoas com Deficiência, LGBTI+ e Gerações - de forma transversal e interseccional. 
  <p> 
</div>

</body>


<!--Footer-->
<%- include('partials/footer') %> 