<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Perfil De Usuário</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
		<style type="text/css" title="MeuEstilo" media="all">

		
		* {
			font-family: 'Tenor Sans', sans-serif;
		}
		
		body {
			background-color: #fff; 			
			text-align: center;			
			margin: 25px;
		 }
		 
		 .container {
			background-color: #f1f1f1; 	
			padding: 15px;
			text-align: center;			
		 }
		 
		 h1 {
			color: #2E2E2E;
		 }
		 
		 h2 {
			color: #2E2E2E;
			font-size: 14px;
		 }
		 
		 .about h1 {
		  font-size: 16px;
		 }
		 
		 .about p {
			color: #A5A5A5;
			font-weight: 400;
		 }
		 
		 .about {
			padding: 30px;
			margin: 30px;
			background-color: #fff; 
			border-radius: 0%;
			text-align: center;
		 }
		
		img.avatar {
			width:200px;
			border-radius: 10%;
			filter: grayscale(1);
			transition: 0.5s;
		}
		
		img.ico {
			width:20px;			
			filter: grayscale(1);
			transition: 0.5s;
			
		}
		
		img:hover {				
			filter: grayscale(0);
			cursor: pointer;
			border-radius: 50%;
			box-shadow: 2px 2px 2px 1px rgba(72, 92, 206, 0.2);
		}
		
		.negrito {
			font-weight: 700;
		}
		
		</style>

	</head>
		
	<body>		
		<%- include('partials/header') %>
	<div class="container">
		<h1> Perfil </h1>
		<p>Nome</p>
			<img class="avatar" src="/img/fotoperfil.png" alt="Avatar">	
		
		<div class="about"> 
			<h1>Favoritos</h1>
			<p>Sua lista de favoritos</p>
		</div>
		
		<div>
		 <!--	<h2>Detalhes</h2>
			
			<span class="negrito">Nome:</span> <p>Vitor</p>
			<span class="negrito">Idade:</span> <p>99 anos</p>
			<span class="negrito">Localização:</span> <p>Região Norte de marte</p>
			-->
			<!--
			<img src="/img/ico_insta.png" class="ico"/>
			<img src="/img/ico_twitter.png"  class="ico"/>
			<img src="/img/ico_facebook.png" class="ico"/>
			-->
			<%- include('partials/footer') %>
		</div>

		