<<<<<<< HEAD:meu-projeto/views/passagens.ejs
<h1><% cidades.map(element => { %>
 <p><%= element.nomeCidade %> </p>
=======
<h1><% passagens.map(element => { %>
 <p><%= element.destino %> </p>
>>>>>>> 3a93333f79124e9bd58e29f44b29489223fa3a5d:meu-projeto/src/views/passagens.ejs
<% }) %></h1>