
<%- include('partials/headerHome')%>
   
    <!-- Locais mais procurados -->
    
    <section class="locais">
        <h1>Nossos locais mais procurados</h1>
        <div class="row">
            <div class="locais-coluna">
                <img src="/img/rio de janeiro.jpg">
                <div class="layer">
                    <h3>Rio de Janeiro</h3>
                    </div>
            </div>
            <div class="locais-coluna">
                <img src="/img//newyork.png">
                <div class="layer">
                    <h3>São Paulo</h3>
                    </div>
            </div>
            <div class="locais-coluna">
                <img src="/img/brasilia.jpg">
                <div class="layer">
                    <h3>Brasília</h3>
                </div>
            </div>
        </div>
    </section>
    
    <!--- Sistema -->
    
    <section class="sistema">
        <h1>Nosso Sistema Fornece</h1>
        <div class="row">
            <div class="sistema-col">
                <img src="https://paytrack.com.br/blog/wp-content/uploads/2021/06/Capa-artigo-orcamento.png" alt="">
                <h3>Resultados</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
                </p>
            </div>
            <div class="sistema-col">
                <img src="http://dinheiro.me/wp-content/uploads/2016/03/ganhar-dinheiro-com-seu-site.jpg" alt="">
                <h3>Preços acessiveis</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
                </p>
            </div>
            <div class="sistema-col">
                <img src="https://blog.wittel.com/wp-content/uploads/2017/07/103011-como-medir-a-qualidade-do-atendimento-ao-cliente-810x540.jpg" alt="">
                <h3>Qualidade No Atendimento</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque similique placeat eius illum! Nulla nostrum laborum incidunt
                </p>
            </div>
        </div>
    </section>
    
    <!--Testimonials -->
    
    <section class="Testimonials">
        <h1>Reviews de clientes</h1>
        <p>Envie sua avaliação para nós, assim podemos melhorar cada vez mais </p>
        <div class="row">
            <div class="testimonaials-col">
                <img src="/img/user1.jpg" alt="">
                <div>
                   <p></p> Minha experiência com o SnapTrip foi incrível! Encontrei facilmente as melhores opções de passagem e hospedagem para uma viagem curta a trabalho.</p>
                    <h3>Christina Gouvêa</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testimonaials-col">
                <img src="/img/user2.jpg" alt="">
                <div>
                    <p>Sou responsável por agendar passagens de uma equipe de vinte funcionários e o SnapTrip mudou minha vida! Serviço de qualidade, fácil de usar e com filtros eficientes e direcionados para viagens profissionais.
                    </p>
                    <h3>Vitor Andrade</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </section>
    
    <!--Call To Action-->
    
    <section class="cta">
        <h1>Agende suas viagens <br> De Qualquer Lugar do Mundo</h1>
        <a href="/contato" class="hero-btn">ENTRE EM CONTATO</a>
    </section>
    <!--Footer-->
    <%- include('partials/footer') %> 
    