<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device initial-scale=1.0">
    <title>SnapTrip</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
        integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
</head>

<body>
    <section class="header">
        <nav class="nav-topo">
            <a href=".html">
                <img src="/img/logoSnaptrip.png">
            </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/trabalhe">TRABALHE CONOSCO</a></li>
                    <li><a href="/users/login">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
        <div class="text-box header-PaginaPrincipal">

            <!--Formulario -->
            <div class="header-form">
                <h2>Escolha seu Destino</h2>
                <form action="/passagens" method="POST" class="flex">
                    <label for="Origem">Origem</label>
                    <select name="visitor_origem" id="Origem">

                        <% cidades.map(element=> { %>
                            <option value="<%= element.id %> ">
                                <%= element.nome %>
                            </option>
                            <% }) %>
                    </select>

                    <label for="Destino">Destino</label>
                    <select name="visitor_destino" id="Origem">
                        <% cidades.map(element=> { %>
                            <option value="<%= element.id %> ">
                                <%= element.nome %>
                            </option>
                            <% }) %>
                    </select>

                    <label for="localEvento">Local do Evento</label>
                    <select type="select" class="form-contro3" placeholder="Local do evento">
                        <label for="Data">Data</label>
                        <select type="select" class="dataEstilo" placeholder="Data"> 
                        </select>
                    </select>
                    <input type="submit" class="btn-form" value="PROCURAR">
                </form>
            </div>
        </div>
    </section>
