<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Tenor+Sans&display=swap" rel="stylesheet">

    <title>Snaptrip</title>
  </head>

  <link rel="stylesheet" type="public/css" href="stylesheet.css" media="screen" />
<!--Header-->
<%- include('partials/header') %> 
<section class = "sub-header">
  <h1>Trabalhe Conosco</h1>
</section>
<!---conteudo trabalhe conosco--->
<section class="trabalhe-conosco">
  <div class="row">
    <div class="trab-col">
      <h1>Somos a maior ferramenta de Viagens Comerciais</h1>
      <p>Empresas do mundo todo ultilizam nossa ferramenta para facilitar o seu processo de viagens comerciais.</p>
      <a href="" class="hero-btn red-btn">CONHEÇA AGORA</a>
      
    </div>
    <div class="trab-col">
      <img src="/public/img/trabalhe.jpg">
    </div>
  </div>

</section>


<!--Footer-->
<%- include('partials/footer') %> 